[Unit]
Description=Octopus Energy price display
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/home/pi/octopus_price
User=pi
ExecStart=/usr/bin/python3 /home/pi/octopus_price/displayprice.py

[Install]
WantedBy=multi-user.target